.services-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 40px;
    
}
@media (max-width:991px) {
    .serv-box{
        flex-direction: column;
    }
}
.services {
    position: relative;
    padding: 60px 0;
    
}
.services .heading{
    margin: 0px auto 128px auto !important;
}
