.slider_detail-box h1{
    transform:translate(250px);
    animation-name: ltr;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-delay: .7s;
    animation-fill-mode: forwards;
    -webkit-animation-name: ltr;
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: linear;
    animation-delay: .7s;
    -webkit-animation-fill-mode: forwards;
}
@keyframes ltr {
    0%{
        -webkit-transform:translate(250px);
        transform: translate(250px);
    }
    100%{
        -webkit-transform:translate(0);
        transform:translate(0);
    }
}
/* .slider_img-box img {
    -webkit-animation-name: moving;
    animation-name: moving;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

@-webkit-keyframes moving {
    0% {
        -webkit-transform: translate(-25px);
        transform: translate(-25px);
    }
    100% {
        -webkit-transform: translate(25px);
        transform: translate(25px);
    }
}

@keyframes moving {
    0% {
        -webkit-transform: translate(-25px);
        transform: translate(-25px);
    }
    100% {
        -webkit-transform: translate(25px);
        transform: translate(25px);
    }
} */
.slider_detail-box p{
    padding-left: 0px;
}